.currentWeatherComp {
    height: 50vh;
    width: 45vh;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    position: relative;
    top: 5vh;
    left: 20vh;
  }

  .currentWeather{
    text-indent: 10%;
    height: 50%;
  }
  .currentTemp{
    font-size: 130px;
    position: relative;
    bottom: 8vh;
    right: 1vw;
  }
  .unitButtons{
    width: 40%;
    position: relative;
    bottom: 5.75vh;
    float: right;
  }
