.hourlyForecastComp {
    height: 50vh;
    width: 45vh;
    border: 1px solid rgba(255, 255, 255, 0.227);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 45.1vh;
    left: 130vh;
  }

  .hourlyWeather{
    text-indent: 6%;
    height: 50%;
  }
  .hourlyTemp{
    font-size: 130px;
    position: relative;
    bottom: 8vh;
    right: 1vw;
  }
  .unitButtons{
    width: 40%;
    position: relative;
    bottom: 5.75vh;
    float: right;
  }

  .conditionLabel{
    text-indent: 4%;
    font-size: 25px;
  }