html,
body {
  background-image: linear-gradient(black, black, rgb(78, 78, 78));
  background-repeat: no-repeat;
  font-family: "Inconsolata";
  color: white;
  height: 100vh;
  overflow: hidden;
}

.App {
  background-color: black;
}

.navBar {
  height: 7vh;
  text-align: center;
}

.cityInput {
  animation: 5s infinite glow;
}

@keyframes glow {
  0% {
    border: 1px solid white;
  }

  50% {
    border: 1px solid rgb(75, 75, 75)
  }

  100% {
    border: 1px solid white
  }
}

.locationIcon {
  color: darkgrey;
  position: absolute;
  left: 37vw;
  top: 3.5vh;
}

.searchIcon {
  position: absolute;
  right: 5vw;
  top: .25vh;
}

.sunAndMoon {
  border-radius: 10px;
  height: 50vh;
  width: 45vh;
  position: absolute;
  top: 12vh;
  left: 37vw;
}
.sunIcon{
  position: absolute;
  top: 12vh;
  left: 5vw;
}
.moonIcon{
  position: absolute;
  top: 22vh;
  left: 11vw;
}
.line{
  width: 0;
  height: 20vh;
  border: 1px solid white;
  position: absolute;
  top: 12vh;
  left: 11vw;
  rotate: 8deg;
}
.dataDiv{
  display: inline-flex;
  width: 100%;
}
.moonData{
  position: relative;
  top: 77%;
  border-top:1px solid white;
}
.sunData{
  position: relative;
  top: 6%;
  border-bottom:1px solid white;
}