html,
body {
  background-color: black;
  font-family: "Inconsolata";
  color: white;
}

.App {
  background-color: black;
}

.navBar {
  height: 7vh;
  text-align: center;
}

.cityInput {
  animation: 5s infinite glow;
}

@keyframes glow {
  0% {
    border: 1px solid white;
  }
  50%{
    border: 1px solid rgb(75, 75, 75)
  }
  100%{
    border: 1px solid white
  }
}

.locationIcon {
  color: darkgrey;
  position: absolute;
  left:37vw;
  top: 3.5vh;
}
.searchIcon {
  position: absolute;
  right: 5vw;
  top: .25vh;
}